*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


@media(max-width:700px){
    h2{
        font-size: 23px;
    }
}

@keyframes appear{
    from{
        opacity: 0.3;
        scale:0.7;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

hr{
    animation: appear 4.5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
}


/*--- header ---*/
.header{
    background: linear-gradient(rgba(0, 0, 0, 0.282),rgba(0, 0, 0, 0.71));
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    position:relative;
    overflow: hidden;
}

/*--- Video ---*/
.bg-video{
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
    z-index: -1;
    
}

@media(min-aspect-ratio:16/9){
    .bg-video{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio:16/9){
    .bg-video{
        width: auto;
        height: 100%;
    }
}

nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    padding-top: 10px;
    background: rgba(0, 0, 0, 0.642);
    backdrop-filter: blur(15px);
    height: 50px;
    width: 100%;
}

.nav-links{
    flex:1;
    text-align: right;
    align-items: center;
}

nav ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 3px 13px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    letter-spacing: 0.5px;
}

nav ul li a:hover{
    color: red;
}

nav a{
    text-decoration: none;
}

nav h3{
    color: white;
    font-size: 25px;
}

nav span{
    color:red
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 50px;
    text-shadow: 1px 1px 5px rgb(255, 0, 0);
    padding-bottom: 10px;
}

.text-box h5{
    font-size: 20px;
    margin: 10px 0 40px;
    font-style: italic;
    font-weight: lighter;
}
nav .fa{
    display: none;
}

@media(max-width:700px){
    .text-box h1{
        font-size: 28px;
    }
    .text-box h5{
        font-size: 15px;
    }
    nav h3{
        font-size: 20px;
        position: absolute;
        top: 25%;
    }
    nav ul li{
        display: block;
        padding-top: 20px;
    }
    .nav-links{
        position: absolute;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgb(0, 0, 0) 35%, rgba(0, 0, 0, 0.17) 100%);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 5px;
        font-size: 20px;
        cursor: pointer;
    }
    .bg-video{
        object-fit: cover;
    }
}

/*--- Vision ---*/
.vision{
    width: 100%;
    background: rgb(255, 255, 255);
    margin: auto;
    padding-bottom: 30px;
    text-align: center;
    margin-top: 2%
}

.vision-box{
    padding: 2em;
    border-radius: 10px;
    background-color: rgba(204, 204, 204, 0.395);
    text-align: center;
    transition: 0.3s;
    animation: appear 4.5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
} 

.vision-box:hover{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.499); 
    letter-spacing: 2.5px;
}

.vision-box p{
    letter-spacing: 0;
}

.grid-container{
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap:40px;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.vision-box span{
    color:red
}

@media(max-width:700px){

}


/*--- team ---*/
.team{
    width: 100%;
    position: relative;
    z-index: 0;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background: rgb(255, 255, 255);
    color: white;
    
}

.team h2{
    color: black;
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
    animation: appear 4.5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
}

.wrapper{
    padding-left: 30px;
    padding-right: 30px;
}

#card-area{
    padding: 30px 0;
}

.box-area{
    display: grid;
    grid-template-columns: 250px 250px;
    grid-gap: 120px;
    justify-content: center;
    padding-bottom: 30px;
}

#team-box{
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    padding-left: 150px;
    padding-right: 150px;
}

.box{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    animation: appear 4.5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

#team-box img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s;
}

.box img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s;
}

.overlay{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, #1c1c1c 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 12px;
    transition: height 0.5s;

}

.overlay h3{
    padding-bottom: 10px;
    margin-top: 80%;
    letter-spacing: 1.5px;
    font-size: 16px;
}

.overlay h5{
    font-size: 13px;
}

.boxLhover img{
    transform: scale(1.2);
}

.box:hover .overlay{
    height: 100%;
}

#name{
    font-size: 20px;
}

#team-box h3{
    font-size: 18px;
}


@media(max-width:700px){
    .team h2{
        font-size: 27px;
    }
    .box-area{
        grid-template-columns: 225px;
        grid-gap: 50px;
    }
    .box img{
        height: 250px;
    }
    .overlay{
        
    }
    #name{
        font-size: 17px;
    }
    #team-box{
        grid-template-columns: 130px 130px;
        padding-left: 50px;
        padding-right: 50px;
    }
    #team-box img{
        height: 150px;
    }
    #team-box h3{
        font-size: 17px;
    }
}

/* Value */
.value{
    width: 100%;
    position: relative;
    z-index: 0;
    margin: auto;
    padding-bottom: 30px;
    background: rgb(255, 255, 255);
    text-align: center;
}

.col p, .col span{
    display: inline;
    font-size: 25px;
}

.col p{
    color: red;
}

.col span{
    font-weight: bold;
}

.value-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    padding-left: 30px;
    padding-right: 30px;
    grid-gap: 40px;
    padding-bottom: 30px;
}

.value img{
    width: 35px;
    height: 35px;
}

/* Ongoing Projects */
.ongoing-projects{
    width: 100%;
    position: relative;
    z-index: 0;
    margin: auto;
    padding-bottom: 30px;
    background: rgb(255, 255, 255);
    animation: appear 4.5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
}

.project-grid h3{
    font-size: 20px;
    text-decoration: none;
    
}

.project-grid a{
    text-decoration: none;
    color: white;
}

.project-grid p{
    font-size: 14px;
}

.ongoing-projects h2{
    text-align: center;
    margin-top: 1.5%;
    padding-bottom: 50px;
    font-size: 30px;
}

.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 40px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 10px;
    justify-content: center;
    padding-bottom: 50px;
    position: relative;
    
}

.project-col{
    transition: 0.3s;
    position: relative;
   
}

.project-col p{
    letter-spacing: 0;
}

.project-col:hover{
    letter-spacing: 2px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.558);
    
}

#ace{
    height: 230px;
    background-image: url(/Images/ace.jpg);
    background-size: cover;
    border-radius: 10px;
    padding-top: 20px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#bella{
    height: 230px;
    background-image: url(/Images/bella.jpg);
    background-size: cover;
    border-radius: 10px;
    padding-top: 20px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#levi{
    height: 230px;
    background-image: url(/Images/leviance.jpg);
    background-size: cover;
    border-radius: 10px;
    padding-top: 20px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#tirth{
    height: 230px;
    background-image: url(/Images/avon.jpg);
    background-size: cover;
    border-radius: 10px;
    padding-top: 20px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.project-col{
    text-align: center;
}

@media(max-width:700px){
    .ongoing-projects h2{
        font-size: 27px;
        padding-top: 15px;
        padding-bottom: 30px;
    }
}

/* Completed projects */
.completed-projects{
    width: 100%;
    position: relative;
    z-index: 0;
    margin: auto;
    padding-bottom: 30px;
    background: rgb(255, 255, 255);
    animation: appear 4.5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
}

.completed-projects h2{
    text-align: center;
    margin-top: 1.5%;
    padding-bottom: 50px;
    font-size: 30px;
}

#avon{
    height: 230px;
    background-image: url(/Images/avon.jpg);
    background-size: cover;
    border-radius: 10px;
    padding-top: 20px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#k11{
    height: 230px;
    background-image: url(/Images/k11.jpg);
    background-size: cover;
    border-radius: 10px;
    padding-top: 20px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#baner{
    height: 230px;
    background-image: url(/Images/baner.jpg);
    background-size: cover;
    border-radius: 10px;
    padding-top: 20px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#kohinoor{
    height: 230px;
    background-image: url(/Images/kohinoor.jpg);
    background-size: cover;
    border-radius: 10px;
    padding-top: 20px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

@media(max-width:700px) {
    .completed-projects h2{
        font-size: 27px;
        padding-top: 15px;
        padding-bottom: 30px;
    }
}

/* Quality practices */
.quality{
    width: 100%;
    margin: auto;
    position: relative;
    padding-bottom: 30px;
}
.quality h2{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
}

@media(max-width:700px){
    .quality h2{
        font-size: 27px;
        padding-right: 5px;
        padding-left: 5px;
    }
}
